<h1>Listing support_requests</h1>

<table>
  <thead>
    <tr>
      <th>Description</th>
      <th>Category</th>
      <th>Percent filled</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @support_requests.each do |support_request| %>
      <tr>
        <td><%= support_request.description %></td>
        <td><%= support_request.category %></td>
        <td><%= support_request.percent_filled %></td>
        <td><%= link_to 'Show', support_request %></td>
        <td><%= link_to 'Edit', edit_support_request_path(support_request) %></td>
        <td><%= link_to 'Destroy', support_request, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Support request', new_support_request_path %>
